div {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.active {
  transform: translate(0, 5px);
}

.red.inactive {
  background-color: #FF1177;
  box-shadow: 1px 5px 0 #CC0033;
}

.red.active {
  background-color: #ff55AA; 
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
}

.blue.inactive {
  background-color: #228DFF;
  box-shadow: 1px 5px 0 #006BDD;
}

.blue.active {
  background-color: #66CFFF;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
}

.green.inactive {
  background-color: #B6FF00;
  box-shadow: 1px 5px 0 #94DD00;
}

.green.active {
  background-color: #C9FF55;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
}

.yellow.inactive {
  background-color: #FFDD1B;
  box-shadow: 1px 5px 0 #DDBB09
}

.yellow.active {
  background-color: #FFFF4E;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
}


